<blockquote class="blockquote mb-0">
    <p id="forecast">
        loading...
    </p>
    <footer class="blockquote-footer">
        Location: <span id="location">loading...</span>
    </footer>
</blockquote>